.github/**/*
.github/*

.vscode/**/*
.vscode/*

coverage/**/*
coverage/*

coverage-ts/**/*
coverage-ts/*


.env
.env.*

# source
**/*.ts
*.ts

# definitions
!**/*.d.ts
!*.d.ts

.eslintrc.js
*.config.js
tsconfig.json
tsconfig.build.json

*.tsbuildinfo